NEXT_PUBLIC_SUPABASE_URL=https://vlchhojwdanovbnwuhxq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsY2hob2p3ZGFub3Zibnd1aHhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc2MjAxODYsImV4cCI6MjA2MzE5NjE4Nn0.eqnv6uwxL3joFUA-KIcaW7MdhzZjfJnyPH35a-SOQ4g
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsY2hob2p3ZGFub3Zibnd1aHhxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzYyMDE4NiwiZXhwIjoyMDYzMTk2MTg2fQ.iNgEd1ARofOhDAvy2GXIDcs-0wAiHfHjMOW5-jlk7IQ
OPENAI_API_KEY=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
NEXTAUTH_SECRET=your-auth-secret
